.between-conteiners{
	height: 65px;
}
.col-12{
  padding: 0px;
  margin: 0px;
}
.indentation-rows{
	padding-top: 0px;
}

.fix-content{
	margin-top: -10px;
}

.helper{
	visibility: hidden;
}

.row {
  margin: 0px!important;
}
.container {
  
  padding: 0px;
}
.headnav{
  background-color: rgb(24, 30, 36);
}
.nav-link-a{
  font: bold!important;
  color: rgb(255, 255, 255)!important;
}
.container-carusel{
  width: 100%!important;
  background-color: #444;
  padding: 0px;
  margin: 0px;
}
.h3{
  font-weight: bold;
}
.carusell{
  padding: 0px!important;
}
.carusell-main{
width: 80%;
align-self: center;
}
.container-dark{
  background-color: rgb(31, 31, 31);
  padding: 0px;
}

.text-white{
  color: white;
  margin: 15px;
}
.text-white-head{
  margin: 50px
}
.preloader{
  margin: 0px;
  padding: 0px;
  --bg-color: #34314c;
  --first-color: #fff;
  --second-color: rgb(0, 127, 201);
  --third-color: rgb(111, 0, 201);
  --thickness: 3px;
  --dutation: 1%;
  position: fixed;
  size: 200px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--dutation);

}
.preloader__content{
position: relative;
--size: 150px;
width:  var(--size);
height:  var(--size);

}
.preloader__first,
.preloader__second, 
.preloader__third{
  position: absolute;
  width: 100% ;
  height: 100%;
  border-radius: 50%;
  animation: 1s linear infinite;
}
.preloader__first{
border-bottom:  3px solid #fff;
transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
z-index: 5010;
animation-name: first;
}
.preloader__second{
  border-right:  3px solid rgb(0, 127, 201);
  transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  z-index: 5010;
  animation-name: second;

}
.preloader__third{
  border-top:  3px solid  rgb(111, 0, 201);;
  transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  z-index: 5010;
  animation-name: third;
}

@keyframes first{
0%{transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
100%{transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
}
@keyframes second{
  0%{  transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100%{  transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes third{
  0%{    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);

  }
  100%{    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

  }
}
.slide{
  padding: 0px;
}

.green{
	background-color:#6fb936;
}
.thumb{
	margin-bottom: 0px;
}

.page-top{
	margin-top: 20px;
}

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
} 
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.modal-header {
	border-bottom: none;
}
.modal-title {
	color:#000;
}
.modal-footer{
	display:none;  
}
footer{
  background-color: rgb(59, 59, 59);
  color: white;
}
.a_ref{
  color: azure;
}
.topbutton {
  width:100px;
  border:2px solid #ccc;
  background:#f7f7f7;
  text-align:center;
  padding:10px;
  position:fixed;
  bottom:50px;
  right:50px;
  cursor:pointer;
  color:#333;
  font-family:verdana;
  font-size:12px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}